*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
/app/build
/android/build
/android/src/main/jniLibs
/signaling/build
/signaling/src/main/jniLibs
/p2p/build
/p2p/src/main/jniLibs
/app/release
